<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/films">Films <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/characters">Characters <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/planets">Planets <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/starships">Starships <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class='panel panel-default container-fluid'>
  <div class="panel-heading"><h1 class='text-center'><%= @planet['name'] %></h1></div>
    <table class='table table-bordered'>
    <tr>
      <th>Name:</th>
      <td><%=@planet['name']%></td>
    </tr>
    <tr>
      <th>Rotation Period:</th>
      <td><%=@planet['rotation_period']%></td>
    </tr>
    <tr>
      <th>Orbital Period:</th>
      <td><%= @planet['orbital_period'] %>kg</td>
    </tr>
    <tr>
      <th>Diameter:</th>
      <td><%=@planet['diameter']%></td>
    </tr>
     <tr>
      <th>Climate:</th>
      <td><%=@planet['climate']%></td>
    </tr>
     <tr>
      <th>Gravity:</th>
      <td><%=@planet['gravity']%></td>
    </tr>
    <tr>
      <th>Terrain:</th>
      <td><%=@planet['terrain']%></td>
    </tr>
    <tr>
      <th>Surface Water:</th>
      <td><%=@planet['surface_water']%></td>
    </tr>
    <tr>
      <th>population:</th>
      <td><%=@planet['population']%></td>
    </tr>
  </table>
</div>
<div class='row container-fluid'>
  <div class='col-md-6'>
    <div class='list-group list-group-flush'>
      <a href='/films' class='list-group-item'><h2>Films</h2></a>
      <% if !@planet['films'].empty? %>
      <% @films.each do |film| %>
      <% id = film['url'].split('/')[5] %>
      <p><%= film['title'] %> <%= link_to 'Show', film_url(id) %></p>
      <%end%>
      <% else %>
      <a  class="list-group-item">No Films</a>
      <% end %>
    </div>
  </div>
  <div class='col-md-6'>
    <div class='list-group list-group-flush'>
      <a class='list-group-item disabled'><h2>Residents</h2></a>
      <% if !@planet['residents'].empty? %>
      <% @residents.each do |resident| %>
      <% id = resident['url'].split('/')[5] %>
      <p><%= resident['name'] %> <%= link_to 'Show', character_url(id) %></p>
      <%end%>
      <% else %>
      <a  class="list-group-item">No Residents</a>
      <% end %>
    </div>
  </div>
</div><!--row-->



<center>
  <a href='/planets'><button class='btn btn-secondary btn-lg btn-block'>Back to Planets</button></a>
</center>