<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/films">Films <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/characters">Characters <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/planets">Planets <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/starships">Starships <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<table class="table table-hover">
  <thead class="black white-text">
    <tr>
      <th scope ="col">Name</th>
      <th scope ="col">Birth year</th>
      <th scope ="col">Gender</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |char| %>
      <% id = char['url'].split('/')[5] %>
    
      <tr>
        <td><%= char['name'] %></td>
        <td><%= char['birth_year'] %></td>
        <td><%= char['gender'] %></td>
        <td><%= link_to 'Show', character_url(id) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

