<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/films">Films <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/characters">Characters <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/planets">Planets <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/starships">Starships <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class='panel panel-default container-fluid'>
  <div class="panel-heading"><h1 class='text-center'><%= @character['name'] %></h1></div>
    <table class='table table-bordered'>
    <tr>
      <th>Name:</th>
      <td><%=@character['name']%></td>
    </tr>
    <tr>
      <th>Hight:</th>
      <td><%=@character['height']%></td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td><%= @character['mass'] %>kg</td>
    </tr>
    <tr>
      <th>Hair Color:</th>
      <td><%=@character['hair_color']%></td>
    </tr>
     <tr>
      <th>Skin Color:</th>
      <td><%=@character['skin_color']%></td>
    </tr>
     <tr>
      <th>Eye Color:</th>
      <td><%=@character['eye_color']%></td>
    </tr>
  </table>
</div>
<div class='row container-fluid'>
  <div class='col-md-6'>
    <div class='list-group list-group-flush'>
      <a href='/films' class='list-group-item'><h2>Films</h2></a>
      <% if !@character['films'].empty? %>
      <% @films.each do |film| %>
      <% id = film['url'].split('/')[5] %>
      <p><%= film['title'] %> <%= link_to 'Show', film_url(id) %></p>
      <%end%>
      <% else %>
      <a  class="list-group-item">No Films</a>
      <% end %>
    </div>
  </div>
  <div class='col-md-6'>
    <div class='list-group list-group-flush'>
      <a href='/starships' class='list-group-item'><h2>Starships</h2></a>
      <% if !@character['starships'].empty? %>
      <% @starships.each do |starship| %>
      <% id = starship['url'].split('/')[5] %>
      <p><%= starship['name'] %> <%= link_to 'Show', starship_url(id) %></p>
      <%end%>
      <% else %>
      <a  class="list-group-item">No Starships</a>
      <% end %>
    </div>
  </div>
</div>

<center>
  <a href='/characters'><button class='btn btn-secondary btn-lg btn-block'>Back to Characters</button></a>
</center>

